html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    --MAIN-COLOUR: #fafaf9;
    --BG-COLOUR: #e5e7eb;
    --ACCENT-1: #0ea5e9;
    --ACCENT-2: #facc15;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--BG-COLOUR);
}

main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* TEXT */

.text-wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 0.8rem;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.commentary-wrapper{
    background-color: var(--MAIN-COLOUR);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    gap: 0.8rem;
    box-shadow: 2px 3px 5px 0px #BCBCBC;

}

#victory{
    color: var(--ACCENT-1);
    font-size: 1.5rem;
    font-weight: bold;
}

#commentary{
    font-size: 1.2rem;
    text-align: center;
    white-space: pre;
}

/* GAME */

.game-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
}

/* PLAYER INTERFACE */

.player-wrapper{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.player-card{
    background-color: var(--MAIN-COLOUR);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    gap: 0.8rem;
    box-shadow: 2px 3px 5px 0px #BCBCBC;
}

.player-card input{
    width: 10ch; 
    height: 1.5rem;
    background-color: var(--BG-COLOUR);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem; 
    text-transform: uppercase;
    border: none; 
}

.player-card input:focus{
    outline: none;
}

.player-card img{
    height: 50px;
}

.player-card img[src="svg/circle-outline.svg"]{
    height: 44px;
}

/* BOARD */

.grid-wrapper{
    height: 500px;
    width: 500px;
    background-color: var(--MAIN-COLOUR);
    border-radius: 2rem;
    box-shadow: 2px 3px 5px 0px #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    background-color: var(--BG-COLOUR);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.board>div{
    background-color: var(--MAIN-COLOUR);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESTART */

.button-wrapper{
    display: flex;
    justify-content: center;
}

.button-wrapper div{
    background-color: var(--MAIN-COLOUR);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    gap: 0.8rem;
    box-shadow: 2px 3px 5px 0px #BCBCBC;
}

.restart{
    background-color: var(--MAIN-COLOUR);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    gap: 0.8rem;
    box-shadow: 2px 3px 5px 0px #BCBCBC;
}